body {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 900px;
    margin: auto;
}

.markdown-body h1 {
    border: none;
    margin-bottom: 0;
}

.inline-block {
    display: inline-block
}

.width-33p {
    width: calc(33% - 1px);
}

.gallery-image-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 240px;
}

.overlay-icon {
    position: relative;
}

.overlay-icon::before {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: clamp(25px, 33.33%, 100px);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay-icon.image::before {
    background-image: url(./image-icon.png);
}

.overlay-icon.link::before {
    background-image: url(./link-icon.png);
}

.overlay-icon.video::before {
    background-image: url(./play-icon.png);
}

/* Highlight PDF-IGNORED sections on-hover */
.pdf-ignored:hover {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-top: 3px;
    margin-top: 3px;
}

.pdf-ignored:hover::before {
    content: 'Not available in PDF';
    position: absolute;
    top: -8px;
    left: calc(50% - 50px);
    background: #333;
    color: white;
    font-size: 9px;
    font-weight: bold;
    font-style: italic;
    padding: 0px 5px;
    border: 0.5px solid;
    border-radius: 5px;
}

.pdf-ignored {
    position: relative;
    border: 1px solid transparent;
}

@media (min-width: 601px) {
    body {
        padding-left: 50px;
        padding-right: 50px;
    }

    .overlay-icon:not(:hover)::before {
        display: none;
    }
}

@media (max-width: 600px) {
    .gallery-image-bg {
        min-width: 100%
    }

    .overlay-icon,
    .video {
        display: block;
        min-width: 100%;
    }
}